.infoContainer {
    position: absolute;
    top: 0;
    left: 0;

    min-height: 100%;

    background: rgba(0, 0, 0, 0.95);

    padding: 0 10rem;
    margin-left: var(--sidenav-width);

    animation: fade-in 0.5s ease;
    animation-fill-mode: forwards; 
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.closeBtnContainer {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;
}

.closeBtn {
    position: fixed;
    cursor: pointer;

    opacity: 0.6;

    transition: all 0.3s ease;

    /* Increases the hitbox size of the close button */
    padding: 1.2rem;
} 

.closeBtn:hover {
    opacity: 1.0;
}

.closeBtn > * {
    width: 60px;
    height: 4px;

    background-color: var(--blue);
    margin: 0 auto;
}

.closeBtn div:nth-child(1) {
    transform: translateY(100%) rotateZ(45deg);
}

.closeBtn div:nth-child(2) {
    transform: rotateZ(-45deg);
}

.header {
    color: var(--blue);
    font-size: 2rem;
}

.infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 3rem 0;
}

.infoItem {
    width: 100%;
}

.infoItem > h3 {
    color: var(--font-color);
    opacity: 0.5;

    margin: 0.3rem 0;
}

.infoItem > p {
    margin: 0 0;
}

.infoItem.description > p {
    margin: 1rem 0;
}

.infoBtnContainer {
    width: 100%;
}

.infoBtn {
    width: 150px;
    margin: 0.2rem 0.2rem;
    padding: 0.5rem 0;
}

.infoImg {
    margin: 2rem 0;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
    .infoContainer {
        padding: 0 3rem;
    }
}

@media (max-width: 767px) {
    .infoContainer {
        padding: 2rem;
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .infoContainer {
        padding: 1rem;
    }

    .infoBtn {
        width: 100%;
    }

    .infoItem > h3 {
        font-size: 1rem;
    }
}