{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": false,
                "targets": {
                    "browsers": [
                        "last 3 versions"
                    ]
                }
            }
        ],
        "@babel/react"
    ],
    "env": {
        "test": {
            "plugins": [
                "require-context-hook"
            ]
        }
    },
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}