.contactForm {
    display: flex;
    flex-direction: column;
}

.btnContainer {
    justify-content: flex-end;
}

.contactForm div {
    display: flex;
    flex-direction: row;
}

.contactForm div > * {
    margin: 0.3rem;
}

.contactForm input {
    height: 2.5rem;
}

.contactForm textarea {
    height: 135px;
    padding-top: 0.6rem;
    resize: none;
}

.contactForm button {
    padding: 0.3rem 1rem;
}

.contactForm input, .contactForm textarea {
    color: var(--font-color);

    width: 100%;
    border: none;
    border-radius: 3px;
    padding-left: 1rem;

    background-color: var(--font-color-alt);

    font-size: 1.2rem;
}

.contactForm input:focus, .contactForm textarea:focus {
    outline: none;
}

.feedback {
    color: red;
    margin: 0;
}

.feedback p {
    font-size: 1rem;
}

.contactForm .feedback {
    flex-direction: column;
}