.sidenav {
    width: var(--sidenav-width);
    height: 100vh;
    
    position: fixed;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: var(--sidenav-color);
}

.sidenavBtnsContainer {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 1rem 0rem;
}

.logo {
    color: var(--font-color);
    transition: all 0.3s ease;
    text-align: center;
}

.logo:hover {
    color: var(--blue);
}

.socialMediaBtn {
    margin: 0.5rem 0rem;
    color: var(--font-color-alt);
    font-size: 1rem;
}

.socialMediaBtn:hover {
    color: var(--blue);
}

@media (max-width: 767px) {
    .sidenav {
        width: 100%;
        height: 45px;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        min-width: 45px;
        /* text-align: center; */
    }

    .sidenavBtnsContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .socialMediaBtn {
        margin: 0.5rem;
    }
}