.container {
    max-width: 50%;
}

.header {
    display: inline-block;
    text-transform: uppercase;
    color: var(--blue);
}

.emphasized {
    color: var(--orange);
}

@media (max-width: 1280px) {
    .container {
        max-width: 60%;
    }
}

@media  (max-width: 1024px) {
    .container {
        max-width: 70%;
    }
}

@media (max-width: 769px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {

}
