.filterHeader {
    margin-top: 3rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.btnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: baseline;

    flex-wrap: wrap;
}

.filterBtn {
    width: 32%;
    margin: 0.2rem 0.2rem;
    padding: 0.3rem 0;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: auto;
    max-width: 50%;

    transform: translateX(200%);
    animation: enter-anim 0.5s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;      /* Specifies the style for the animation when it's not playing */
}


@keyframes enter-anim {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0px);
    }
}