.projectHeader {
    margin-right: 5rem;
}

.modalOpen {
    overflow: hidden;
    position: fixed;
}

.itemContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;

    margin-left: auto;

    transform: translateX(200%);
    animation: enter-anim 0.5s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;      /* Specifies the style for the animation when it's not playing */

    min-height: 50%;                    /* Forces header and item container to stay in place when items are hidden */
}


@keyframes enter-anim {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0px);
    }
}

@media (max-width: 1280px) {
    .projectHeader {
        margin-right: 3rem;
    }
}

@media  (max-width: 1024px) {
    .projectHeader {
        margin-right: 2rem;
        max-width: 100%;
    }

    .itemContainer {
        width: 100%;
    }

    .pageContainer .projectHeader, .pageContainer .itemContainer {
        margin: 4rem 0;
    }
}

@media (max-width: 767px) {
    .itemContainer {
        width: 100%;
    }
}