.header {
    font-size: 4rem;
}

.emphasized {
    color: var(--blue);
}

.lowkey {
    opacity: 0.5;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homeBtn {
    width: 35%;
    padding: 1rem 0rem;
    font-size: 1.2rem;
}

.homeBtn a {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: inherit;
}