/* Needs to be marked as important, or won't override react-three-fiber properties. */
.pageCanvas {
    position: fixed !important;
    width: 100% !important;
    height: 100vh!important;
}

@media (max-width: 600px) {
    /* .pageCanvas {
        display: none !important;
    } */
}