@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

/* TODO: USE SCSS AND MOVE VARIABLES TO VARIABLES */
:root {
    --font-color: white;
    --font-color-alt: #3C3C3C;

    --blue: rgb(39, 236, 0);
    --orange: #DB995A;

    --sidenav-color: #131313;
    --sidenav-width: 60px;
}

body {
    margin: 0px;
    color: var(--font-color);
}

body, button, input {
    font-family: 'Share Tech Mono';
}

h1 {
    font-size: 4rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

body {
    background: black;
}


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--sidenav-color);
}

::-webkit-scrollbar-thumb {
    background: var(--font-color-alt);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--font-color-alt);
}


/* Media queries*/
@media (max-width: 1280px) {}
  
@media (max-width: 1024px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 767px) {
    :root {
        --sidenav-width: 0px;
    }

    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}